[Desktop Entry]
Name=Firefox
Exec=/opt/bin/firefox %U
Terminal=false
Type=Application
Icon=firefox
Categories=Network;GNOME;GTK;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;
